[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopeer = {file = "."}
fastapi = {extras = ["standard"], version = "*"}
pyzmq = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.11"
